In [1]:
import pyAgrum as gum
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import itertools

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
pd.set_option('display.max_rows', 200)

In [3]:
df = pd.read_csv("outputs/scores2.csv")
df

def normalize(col):
    # TODO: GROTER DAN WAT????
    if max(col) > 1:
        return col/max(col)
    return col

columns = ['items', 'nodes', 'timesteps', 'arcs_ratio', 'islands', 'values', 'nodestates', 'arcs', 'items/nodestates', 'items/arcs']
df[columns] = df[columns].apply(normalize)
df

,Unnamed: 0,items,nodes,timesteps,arcs_ratio,islands,values,algorithm,scorefunction,recall,...,fscore,dist2opt,tp,tn,fp,fn,nodestates,arcs,items/nodestates,items/arcs
0,0,0.1,0.5,0.333333,0.499999,1,0.5,3OFF2,AIC,0.666667,...,0.800000,0.333333,2,9,0,1,0.000244,0.1875,0.100000,0.1000
1,1,0.1,0.5,0.333333,0.499999,1,0.5,3OFF2,AIC,0.000000,...,0.000000,1.414214,0,7,2,3,0.000244,0.1875,0.100000,0.1000
2,2,0.1,0.5,0.333333,0.499999,1,0.5,3OFF2,AIC,0.000000,...,0.000000,1.414214,0,7,2,3,0.000244,0.1875,0.100000,0.1000
3,3,0.1,0.5,0.333333,0.499999,1,0.5,3OFF2,AIC,0.333333,...,0.400000,0.833333,1,8,1,2,0.000244,0.1875,0.100000,0.1000
4,4,0.1,0.5,0.333333,0.499999,1,0.5,3OFF2,AIC,0.000000,...,0.000000,1.414214,0,7,2,3,0.000244,0.1875,0.100000,0.1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129785,129785,1.0,1.0,1.000000,1.000000,1,1.0,TABU,K2,0.527273,...,0.495726,0.711878,29,464,33,26,1.000000,1.0000,0.000244,0.1875
129786,129786,1.0,1.0,1.000000,1.000000,1,1.0,TABU,K2,0.672727,...,0.587302,0.580023,37,463,34,18,1.000000,1.0000,0.000244,0.1875
129787,129787,1.0,1.0,1.000000,1.000000,1,1.0,TABU,K2,0.890909,...,0.830508,0.247555,49,483,14,6,1.000000,1.0000,0.000244,0.1875
129788,129788,1.0,1.0,1.000000,1.000000,1,1.0,TABU,K2,1.000000,...,0.880000,0.214286,55,482,15,0,1.000000,1.0000,0.000244,0.1875
129789,129789,1.0,1.0,1.000000,1.000000,1,1.0,TABU,K2,0.618182,...,0.485714,0.711186,34,446,51,21,1.000000,1.0000,0.000244,0.1875

# Bins - One Hot Encoding

In [4]:
df["fscore"] = pd.cut(df["fscore"],bins=[-0.01,0.2,0.4,0.6,0.8,1.0], labels=[0,1,2,3,4])
df

,Unnamed: 0,items,nodes,timesteps,arcs_ratio,islands,values,algorithm,scorefunction,recall,...,fscore,dist2opt,tp,tn,fp,fn,nodestates,arcs,items/nodestates,items/arcs
0,0,0.1,0.5,0.333333,0.499999,1,0.5,3OFF2,AIC,0.666667,...,3,0.333333,2,9,0,1,0.000244,0.1875,0.100000,0.1000
1,1,0.1,0.5,0.333333,0.499999,1,0.5,3OFF2,AIC,0.000000,...,0,1.414214,0,7,2,3,0.000244,0.1875,0.100000,0.1000
2,2,0.1,0.5,0.333333,0.499999,1,0.5,3OFF2,AIC,0.000000,...,0,1.414214,0,7,2,3,0.000244,0.1875,0.100000,0.1000
3,3,0.1,0.5,0.333333,0.499999,1,0.5,3OFF2,AIC,0.333333,...,1,0.833333,1,8,1,2,0.000244,0.1875,0.100000,0.1000
4,4,0.1,0.5,0.333333,0.499999,1,0.5,3OFF2,AIC,0.000000,...,0,1.414214,0,7,2,3,0.000244,0.1875,0.100000,0.1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129785,129785,1.0,1.0,1.000000,1.000000,1,1.0,TABU,K2,0.527273,...,2,0.711878,29,464,33,26,1.000000,1.0000,0.000244,0.1875
129786,129786,1.0,1.0,1.000000,1.000000,1,1.0,TABU,K2,0.672727,...,2,0.580023,37,463,34,18,1.000000,1.0000,0.000244,0.1875
129787,129787,1.0,1.0,1.000000,1.000000,1,1.0,TABU,K2,0.890909,...,4,0.247555,49,483,14,6,1.000000,1.0000,0.000244,0.1875
129788,129788,1.0,1.0,1.000000,1.000000,1,1.0,TABU,K2,1.000000,...,4,0.214286,55,482,15,0,1.000000,1.0000,0.000244,0.1875
129789,129789,1.0,1.0,1.000000,1.000000,1,1.0,TABU,K2,0.618182,...,2,0.711186,34,446,51,21,1.000000,1.0000,0.000244,0.1875

In [5]:
df3 = pd.get_dummies(df, columns=["algorithm","scorefunction"], dtype=int)
df3

,Unnamed: 0,items,nodes,timesteps,arcs_ratio,islands,values,recall,precision,fscore,...,algorithm_3OFF2,algorithm_HC,algorithm_MIIC,algorithm_MMHC,algorithm_TABU,scorefunction_AIC,scorefunction_BDEU,scorefunction_BIC,scorefunction_K2,scorefunction_L2L
0,0,0.1,0.5,0.333333,0.499999,1,0.5,0.666667,1.000000,3,...,1,0,0,0,0,1,0,0,0,0
1,1,0.1,0.5,0.333333,0.499999,1,0.5,0.000000,0.000000,0,...,1,0,0,0,0,1,0,0,0,0
2,2,0.1,0.5,0.333333,0.499999,1,0.5,0.000000,0.000000,0,...,1,0,0,0,0,1,0,0,0,0
3,3,0.1,0.5,0.333333,0.499999,1,0.5,0.333333,0.500000,1,...,1,0,0,0,0,1,0,0,0,0
4,4,0.1,0.5,0.333333,0.499999,1,0.5,0.000000,0.000000,0,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129785,129785,1.0,1.0,1.000000,1.000000,1,1.0,0.527273,0.467742,2,...,0,0,0,0,1,0,0,0,1,0
129786,129786,1.0,1.0,1.000000,1.000000,1,1.0,0.672727,0.521127,2,...,0,0,0,0,1,0,0,0,1,0
129787,129787,1.0,1.0,1.000000,1.000000,1,1.0,0.890909,0.777778,4,...,0,0,0,0,1,0,0,0,1,0
129788,129788,1.0,1.0,1.000000,1.000000,1,1.0,1.000000,0.785714,4,...,0,0,0,0,1,0,0,0,1,0
129789,129789,1.0,1.0,1.000000,1.000000,1,1.0,0.618182,0.400000,2,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# columns = ['items', 'nodes', 'timesteps', 'arcs_ratio', 'islands', 'values', 'nodestates', 'arcs', 'items/nodestates', 'items/arcs', 'algorithm_3OFF2','algorithm_HC','algorithm_MIIC','algorithm_MMHC','algorithm_TABU','scorefunction_AIC','scorefunction_BDEU','scorefunction_BIC','scorefunction_K2','scorefunction_L2L']
columns = ['nodes', 'values', 'arcs', 'algorithm_3OFF2','algorithm_HC','algorithm_MIIC','algorithm_MMHC','algorithm_TABU']

results3 = pd.DataFrame()

# Splitting the data into training and testing data
X_train, X_test, y_train, y_test = train_test_split(df3[columns], df3["fscore"], test_size = 0.2)

regr = LogisticRegression(max_iter=10000)

regr.fit(X_train, y_train)

results3 =  pd.concat([results3, pd.DataFrame({"items":["items" in columns], "nodes":["nodes" in columns], "arcs_ratio":["arcs_ratio" in columns], "timesteps":["timesteps" in columns], "values":["values" in columns], "algorithm":["algorithm_HC" in columns], "scorefunction":["scorefunction_AIC" in columns], "nodestates":["nodestates" in columns], "arcs":["arcs" in columns], "items/nodestates":["items/nodestates" in columns], "items/arcs":["items/arcs" in columns], "score":[regr.score(X_test, y_test)]})], ignore_index=True)

results3

,items,nodes,arcs_ratio,timesteps,values,algorithm,scorefunction,nodestates,arcs,items/nodestates,items/arcs,score
0,False,True,False,False,True,True,False,False,True,False,False,0.433469

In [7]:
cm = sns.light_palette("red", as_cmap=True)

results3["items"] = results3["items"].astype(int)
results3["nodes"] = results3["nodes"].astype(int)
results3["arcs_ratio"] = results3["arcs_ratio"].astype(int)
results3["timesteps"] = results3["timesteps"].astype(int)
results3["values"] = results3["values"].astype(int)
results3["algorithm"] = results3["algorithm"].astype(int)
results3["scorefunction"] = results3["scorefunction"].astype(int)
results3["nodestates"] = results3["nodestates"].astype(int)
results3["arcs"] = results3["arcs"].astype(int)
results3["items/nodestates"] = results3["items/nodestates"].astype(int)
results3["items/arcs"] = results3["items/arcs"].astype(int)

results3.sort_values("score", ascending=False).to_csv("hotlinreg.csv")
results3.sort_values("score", ascending=False).head(10).style.background_gradient(cmap='RdYlGn', vmin=0, vmax=1)